* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/
header.debug {
    background-color: #ADD8E6;
    height: 80px;
    padding-top: 20px;
}

footer.debug {
    background-color: #23272A;
    height: 80px;
    padding-top: 20px;
    
}

.container-header {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 1.2m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #DAA520;
}

.header-items {
    border: 2px dashed black;
    
}
.class25 {
    width: 25%;
}
.class50{
    width: 50%;
    text-align: center;
}
.align-right {
    text-align: right;
}
/*main*/
.container-section1 {
    background-color: #00008B;
    min-height: 450px;
    padding-top: 50px;
}
 
.container-section2 {
    background-color: white;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    display: flex;
    margin: auto;
}
.container-section3 {
    background-color: #D3D3D3;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}
.container-section4 {
    background-color: white;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    display: flex;
    margin: auto;
} 
.container-section5 {
    background-color: #D3D3D3;
    padding-top: 50px;
    padding-bottom: 50px;
}   
.container-section6 {
    background-color: #23272A;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

.container-box {
    display: flex;
}
.container-footer {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 1.2m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
    
}   
.footer-items {
    background-color: #FFB6C1;
    border: 2px dashed black;
   
}
/*boxes*/
.pink-box {
    max-width: 700px;
    height: 350px;
    border: 2px dashed black;
    margin: auto;
    background-color: #EE82EE;
}
.light-pink-box {
    min-width: 400px;
    height: 400px;
    border: 2px dashed black;
    background-color: #FFC0CB;
    align-items: center;
}
.light-blue-box {
    min-width: 600px;
    height: 400px;
    border: 2px dashed black;
    background-color: #1E90FF;
    align-items: center;
}
.green-box {
    width: 1000px;
    height: 700px;
    background-color: #228B22;
    margin: auto;
    border: 2px dashed black;
}
.container-box {
    width: 1000px;
    max-height: 550px;
    margin: auto;
}   

.red-box {
    height: 450px;
    width: 350px;
    background-color: #F08080;
    border: 2px dashed black;
    margin-top: -30px;

}
.aqua-box {
    height: 450px;
    width: calc(650px / 4);
    background-color: #20B2AA;
    border: 2px dashed white;
    margin-top: -30px;

}