* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/
header.debug {
    background-color: #ADD8E6;
    height: 80px;
    padding-top: 20px;
}
/*General*/

.container-header {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 1.2m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed black;
    background-color: #DAA520;
}

.container-section {
    background-color: #00008B;
    min-height: 450px;
    padding-top: 50px;
    
}
 
.pink-box {
    max-width: 700px;
    height: 350px;
    border: 2px dashed black;
    margin: auto;
    background-color: #EE82EE;

}